@using Microsoft.AspNetCore.Identity
@model IEnumerable<BookStore.Models.UserBooks>

@{
    ViewData["Title"] = "Index";
}
<style>
    .card {
        border-radius: 20px;
        transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-color: #D3E4E8;
    }


        .card:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            transform: scale(1.04);
        }

    .card-img-top {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .card-footer {
        display: flex;
    }

    .button-container {
        /* Ensure buttons expand to fill the available space */
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

        .button-container button {
            margin-left: 10px; /* Add space between buttons */
            margin-right: 10px;
        }

    .card.smooth-transition {
        transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        font-size: 3em; /* Increase font size */
        font-weight: bold; /* Make it bold */
    }

    .infos li {
        background: #D3E4E8;
    }

    .card-img-top {
        width: 100%;
        height: 450px;
        max-height: 450px; /* Set a maximum height to ensure uniformity */
        object-fit: cover; /* Ensures the image covers the container without stretching */
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
</style>



@{
    ViewData["Title"] = "Index";
}

@{
    var userName = User.Identity.Name;
}

<h1>@userName's books</h1>

<div class="row mt-4">
@foreach (var item in Model)
{
        <div class="col-md-4 mb-4">
            <div class="card h-100 ">
                <div style=" overflow: hidden">
                    <img src="@Html.DisplayFor(modelItem => item.Book.FrontPage)" class="card-img-top" alt="Book cover">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Book.Title)</h5>
                    <ul class="list-group list-group-flush infos">
                        <li class="list-group-item">Author: @Html.DisplayFor(modelItem => item.Book.Author.FullName)</li>
                        <li class="list-group-item">Published: @Html.DisplayFor(modelItem => item.Book.YearPublished)</li>
                        <li class="list-group-item">Publisher: @Html.DisplayFor(modelItem => item.Book.Publisher)</li>
                        <li class="list-group-item">
                            Genres:
                            @foreach (var genre in item.Book.BookGenres)
                            {
                                <span>@genre.Genre.GenreName</span>
                                if (!genre.Equals(item.Book.BookGenres.Last()))
                                {
                                    <span>, </span>
                                }
                            }
                        </li>
                    </ul>
                </div>
                <div class="card-footer ">
                    <div class="button-container">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>
                                
                                @if (User.IsInRole("Admin"))
                                {
                                    
                                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    
                                }
                                else if (!User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    <a href="@item.Book.DownloadUrl" class="btn btn-outline-dark" download>Read</a>
                                    <a asp-controller="Reviews" asp-action="Create" asp-route-id="@item.Book.Id" class="btn btn-outline-info">Add review</a>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

</div>