@model BookStore.ViewModel.BookGenreViewModel

@{
    ViewData["Title"] = "Index";
}
@using System.IO
<style>
    .card {
        border-radius: 20px;
        transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-color: #D3E4E8;
    }
    

        .card:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            transform: scale(1.04);
        }

    .card-img-top {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .card-footer {
        
        display: flex;
        
    }

    .button-container {
        /* Ensure buttons expand to fill the available space */
        flex-grow: 1;
        display: flex;
        justify-content:center;
        
    }

        .button-container button {
           
            margin-left: 10px; /* Add space between buttons */
            margin-right: 10px;
        }

    .card.smooth-transition {
        transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
        font-size: 3em; /* Increase font size */
        font-weight: bold; /* Make it bold */
    }

    .infos li{
        background: #D3E4E8;
    }

    .card-img-top {
        width: 100%;
        height: 450px;
        max-height: 450px; /* Set a maximum height to ensure uniformity */
        object-fit: cover; /* Ensures the image covers the container without stretching */
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
</style>
<div class="container-lg">
    <h1 class="mt-5 text-center">Welcome to Bunte's BookStore 📚</h1>
    <br />
    <br />

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create" class="btn btn-outline-dark ">Create New</a>
        </p>
    }
    <form class="row g-3 justify-content-center" asp-controller="Books" asp-action="Index" method="get">
        <div class="col-lg-4 col-md-6">
            <select asp-for="BookGenre" asp-items="Model.Genres" class="form-control mb-3 mb-md-0">
                <option value="">All</option>
            </select>
        </div>

        <div class="col-lg-4 col-md-6">
            <label asp-for="SearchString" class="visually-hidden">Title:</label>
            <input type="text" asp-for="SearchString" class="form-control mb-3 mb-md-0" placeholder="Title">
        </div>

        <div class="col-lg-4 col-md-6">
            <label asp-for="AuthorSearchString" class="visually-hidden">Author:</label>
            <input type="text" asp-for="AuthorSearchString" class="form-control mb-3 mb-md-0" placeholder="Author">
        </div>
        <div class="col-md-2">
            <button id="filterButton" type="submit" class="btn btn-secondary w-100">Filter</button>
        </div>
    </form>

    <div class="row mt-4">
        @foreach (var item in Model.Books)
        {
            <div class="col-md-4 mb-4">
                
                <div class="card h-100 ">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <div style= overflow: hidden">
                        <img src="@Html.DisplayFor(modelItem => item.FrontPage)" class="card-img-top" alt="Book cover">
                    </div>
                    </a>
                    <div class="card-body infos">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <ul class="list-group list-group-flush infos">
                            <li class="list-group-item">Author: @Html.DisplayFor(modelItem => item.Author.FullName)</li>
                            <li class="list-group-item">Published: @Html.DisplayFor(modelItem => item.YearPublished)</li>
                            <li class="list-group-item">Publisher: @Html.DisplayFor(modelItem => item.Publisher)</li>
                            <li class="list-group-item">
                                Genres:
                                @foreach (var genre in item.BookGenres)
                                {
                                    <span>@genre.Genre.GenreName</span>
                                    if (!genre.Equals(item.BookGenres.Last()))
                                    {
                                        <span>, </span>
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer ">
                        <div class="button-container">
                            <a class="btn btn-outline-dark" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            
                                    
                                @if (User.IsInRole("Admin"))
                                {
                                        
                                        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        <a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                }
                                    
                                else if (!User.IsInRole("Admin"))
                                {
                                    
                                    <form asp-controller="UserBooks" asp-action="Create" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <input type="hidden" name="AppUser" value="@User.Identity.Name" />
                                            <button type="submit" class="btn btn-outline-dark">Buy</button>
                                    </form>
                                }
                            
                        }
                    </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Add smooth transition class to cards when filter button is clicked
            $("#filterButton").click(function () {
                $(".card").addClass("smooth-transition");
            });
        });
    </script>
}

